/****************************Tag slectors************************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Playfair Display', serif;
  font-size:1.8rem;
}
p .brief{
  font-size: 1.2rem;

}
p{
  color: #40514e;
}
h1 {
  font-family: 'Tangerine', cursive;
  font-size: 5.625rem;
  margin-top: 50px;

}
h2{
  color:#66BFBF;
}
h3{
  color: #11999E;

}
hr {
  border-style: none;
  border-top: dotted #eaf6f6;
  width: 5%;
  border-width: 9px;
  margin: 100px auto;
}
a{
  color:#11999E;
  margin-right: 50px;
  text-decoration: none;
}
.ping{
  margin: 20px auto;

}
/***************************** Class Selctors********************************/

.top-container {
  background-color: #eaf6f6;
  /*font-size: 2.5rem;*/
  position: relative;
  margin: 0;
  padding-top: 100px;
  color:#66BFBF;
  font-weight: normal;
  height: 655px;
}

.middle-container{
  margin:50px auto 0;
  font-size: 1.2rem;
}
.bottom-container{
  margin:20px auto 0;
  background-color: #66bfbf;
  padding: 20px;
  font-size: 1.2rem;

}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

/******** Vector Icons********/
.skill-row{
  width:50%;
  margin: 50px auto 100px ;
  text-align: left;
  line-height: 2;
}
.web-icon {
  width: 15%;
  float: left;
  margin-right: 50px;
}
.strips-icon {
  width:15%;
  float: right;
  margin-right: 30px;
}
.Copy{
  margin-top:20px;
  text-align: center;
  color: #eaf6f6;
}
/****************Button********************/
.btn {
   background: #66BFBF;
   background-image: -webkit-linear-gradient(top, #11999E, #11999E);
   background-image: -moz-linear-gradient(top, #11999E, #11999E);
   background-image: -ms-linear-gradient(top, #11999E, #11999E);
   background-image: -o-linear-gradient(top, #11999E, #11999E);
   background-image: -webkit-gradient(to bottom, #11999E, #11999E);
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   height: 50px;
   line-height: 50px;
   color: #FFFFFF;
   font-family: Arial;
   width: 200px;
   font-size: 27px;
   font-weight: 100;
   padding: 8px;
   text-shadow: 1px 1px 20px #000000;
   border: solid #FFFFFF 0;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
   margin: auto;
}
